{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'authentication/css/authentication.css' %}">
<title>Document</title>
<br>
<div id="cuvette">
    </div>
    </head>
<body >
<div id="container">
<div id="container-img" style="margin-top: 15rem;">
              
</div>
<div id="container-text">
Welcome to your Dashboard
</div>
<div id="container-text-2">
This is the homepage of lead 
management system, login now to begin 
</div>
<div id = "amico" >
    <img  src="{% static 'authentication/images/amico.png' %}" alt="image">
</div>
</div>
{% if not user.is_authenticated %}
    <div id="login-space">
        <p id="login-text">Login to your account</p>
            <form action="" method="post">
                {% csrf_token %}
                <input class="username" type="text" id="username" name="username" placeholder="Email address"><br><br>
                <input class="password" type="password" id="pass1" name="pass1" placeholder="Password"><br><br>
                <button class="login" type="submit">Login</button>
                <p id = "Signup-link" >Do not have an account? <a href="{% url 'register' %}">Sign up</a></p>
            </form>
    </div>
{% else %} 
    <button id = "login-space" type="button" class="btn btn-outline-info"><a style="color: black; text-decoration: none;" href="{% url 'dashboard' %}">Log in Again</a></button>
{% endif %}
</body>
</html>